<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balatro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/juegos/balatro/static/css/leaderboard.css">
</head>
<body>

    <div class="leaderboard-container">
        <div class="leaderboard">
            <div class="header">
                <img class="trophy" src="https://cdn-icons-png.flaticon.com/512/2583/2583346.png" alt="Trophy">
                <h1>Top Player Scores</h1>
            </div>
            
            <!-- Cabecera -->
            <ul class="ranking">
                <li style="background-color: #d6e4f0; font-weight: bold;">
                    <span class="name">Name</span>
                    <span class="score">Score</span>
                    <span class="date">Date</span>
                </li>

                <!-- Datos -->
                {% for player in top_players %}
                <li>
                    <span class="id">{{ player.name }}</span>
                    <span class="score">{{ player.score }}</span>
                    <span class="date">{{ player.date }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
